[Unit]
Description=Single Door Alarm
After=network.target

[Service]
ExecStart=/usr/bin/python3 singledooralarm.py
WorkingDirectory=/home/pi/freezeralarm
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
