[Unit]
Description=Temp IO upload
After=network.target

[Service]
ExecStart=/usr/bin/python3 tempalarm.py
WorkingDirectory=/home/pi/freezeralarm
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
